div {

    color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}

#navbar {

    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#sidebar {

    color: red;
    font-size: 15px;

}

#main {

    color: red;
    font-size: 15px;

}